basePath: /api/v1
definitions:
  github_com_Pagga-Wallet_aqua402_internal_repositories.AuctionModel:
    properties:
      amount:
        type: string
      biddingDuration:
        format: int64
        type: integer
      borrowerAddress:
        type: string
      createdAt:
        format: int64
        type: integer
      duration:
        format: int64
        type: integer
      endTime:
        format: int64
        type: integer
      id:
        format: int64
        type: integer
      status:
        type: string
    type: object
  github_com_Pagga-Wallet_aqua402_internal_repositories.RFQModel:
    properties:
      amount:
        type: string
      borrowerAddress:
        type: string
      collateralType:
        format: int32
        type: integer
      createdAt:
        format: int64
        type: integer
      duration:
        format: int64
        type: integer
      flowDescription:
        type: string
      id:
        format: int64
        type: integer
      status:
        type: string
    type: object
  github_com_Pagga-Wallet_aqua402_internal_services_aqua.ConnectLiquidityRequest:
    properties:
      amount:
        type: string
      lender_address:
        type: string
      token_address:
        type: string
    type: object
  github_com_Pagga-Wallet_aqua402_internal_services_aqua.WithdrawLiquidityRequest:
    properties:
      amount:
        type: string
      lender_address:
        type: string
    type: object
  github_com_Pagga-Wallet_aqua402_internal_services_auction.BidRequest:
    properties:
      auction_id:
        type: integer
      lender_address:
        type: string
      limit:
        type: string
      rate_bps:
        type: integer
    type: object
  github_com_Pagga-Wallet_aqua402_internal_services_auction.CreateAuctionRequest:
    properties:
      amount:
        type: string
      bidding_duration:
        type: integer
      borrower_address:
        type: string
      duration:
        type: integer
    type: object
  github_com_Pagga-Wallet_aqua402_internal_services_faucet.RequestTokensRequest:
    properties:
      address:
        type: string
      amount:
        description: Amount in ETH (will be converted to Wei)
        type: string
    type: object
  github_com_Pagga-Wallet_aqua402_internal_services_rfq.CreateRFQRequest:
    properties:
      amount:
        type: string
      borrower_address:
        type: string
      collateral_type:
        type: integer
      duration:
        type: integer
      flow_description:
        type: string
    type: object
  github_com_Pagga-Wallet_aqua402_internal_services_rfq.QuoteRequest:
    properties:
      collateral_required:
        type: string
      lender_address:
        type: string
      limit:
        type: string
      rate_bps:
        type: integer
      rfq_id:
        type: integer
    type: object
host: aquax402.pagga.io
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: API for agent financing layer on top of the 402 protocol (x402/A2A)
    with 1inch Aqua integration
  license:
    name: MIT
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Aqua x402 Finance Layer API
  version: "1.0"
paths:
  /aqua/liquidity:
    post:
      consumes:
      - application/json
      description: Connects lender liquidity through 1inch Aqua
      parameters:
      - description: Liquidity data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/github_com_Pagga-Wallet_aqua402_internal_services_aqua.ConnectLiquidityRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Connect liquidity
      tags:
      - Aqua
  /aqua/liquidity/{address}:
    get:
      consumes:
      - application/json
      description: Returns available liquidity for a lender
      parameters:
      - description: Lender address
        in: path
        name: address
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get liquidity
      tags:
      - Aqua
  /aqua/withdraw:
    post:
      consumes:
      - application/json
      description: Withdraws liquidity from Aqua
      parameters:
      - description: Withdrawal data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/github_com_Pagga-Wallet_aqua402_internal_services_aqua.WithdrawLiquidityRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Withdraw liquidity
      tags:
      - Aqua
  /auction:
    get:
      consumes:
      - application/json
      description: Returns a list of all auctions with pagination
      parameters:
      - default: 20
        description: Record limit
        in: query
        name: limit
        type: integer
      - default: 0
        description: Offset
        in: query
        name: offset
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/github_com_Pagga-Wallet_aqua402_internal_repositories.AuctionModel'
            type: array
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: List Auctions
      tags:
      - Auction
    post:
      consumes:
      - application/json
      description: Creates a new auction for financing
      parameters:
      - description: Auction data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/github_com_Pagga-Wallet_aqua402_internal_services_auction.CreateAuctionRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            additionalProperties: true
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Create auction
      tags:
      - Auction
  /auction/{id}:
    get:
      consumes:
      - application/json
      description: Returns information about a specific auction
      parameters:
      - description: Auction ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_Pagga-Wallet_aqua402_internal_repositories.AuctionModel'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get Auction
      tags:
      - Auction
  /auction/{id}/bid:
    post:
      consumes:
      - application/json
      description: Places a bid on a specific auction
      parameters:
      - description: Auction ID
        in: path
        name: id
        required: true
        type: integer
      - description: Bid data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/github_com_Pagga-Wallet_aqua402_internal_services_auction.BidRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Place bid
      tags:
      - Auction
  /auction/{id}/finalize:
    post:
      consumes:
      - application/json
      description: Finalizes an auction by selecting the best bid
      parameters:
      - description: Auction ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Finalize auction
      tags:
      - Auction
  /faucet:
    post:
      consumes:
      - application/json
      description: Requests test ETH tokens from the faucet for the specified address
      parameters:
      - description: Faucet request
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/github_com_Pagga-Wallet_aqua402_internal_services_faucet.RequestTokensRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Request test tokens
      tags:
      - Faucet
  /rfq:
    get:
      consumes:
      - application/json
      description: Returns a list of all RFQ requests with pagination
      parameters:
      - default: 20
        description: Record limit
        in: query
        name: limit
        type: integer
      - default: 0
        description: Offset
        in: query
        name: offset
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/github_com_Pagga-Wallet_aqua402_internal_repositories.RFQModel'
            type: array
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: List RFQs
      tags:
      - RFQ
    post:
      consumes:
      - application/json
      description: Creates a new Request for Quote
      parameters:
      - description: RFQ data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/github_com_Pagga-Wallet_aqua402_internal_services_rfq.CreateRFQRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/github_com_Pagga-Wallet_aqua402_internal_repositories.RFQModel'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Create RFQ
      tags:
      - RFQ
  /rfq/{id}:
    get:
      consumes:
      - application/json
      description: Returns information about a specific RFQ request
      parameters:
      - description: RFQ ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/github_com_Pagga-Wallet_aqua402_internal_repositories.RFQModel'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get RFQ
      tags:
      - RFQ
  /rfq/{id}/quote:
    post:
      consumes:
      - application/json
      description: Submits a quote for a specific RFQ
      parameters:
      - description: RFQ ID
        in: path
        name: id
        required: true
        type: integer
      - description: Quote data
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/github_com_Pagga-Wallet_aqua402_internal_services_rfq.QuoteRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal Server Error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Submit quote
      tags:
      - RFQ
schemes:
- https
swagger: "2.0"
